# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_password
DB_NAME=your_database
DB_SSL=false

# Servidor
PORT=3000
NODE_ENV=development

# Rutas
IMG_PATH=./img
OUTPUT_PATH=./output

# Google Drive - Detalle Cajeros
CASHIER_REPORTS_DRIVE_FOLDER_ID=15OUs2ediQbN_0RIVwlaAmen8XOl1-sxt
